{
  "rules": {
    "indentation": 4,
    "max-empty-lines": 2,
    "comment-empty-line-before": null,
    "rule-empty-line-before": null,
    "no-descending-specificity": null,
    "no-eol-whitespace": null
  }
}
