// common variable
$primary_color: #238636;
$body_background: #f0f2f5;
$sidebar_background_light_mode: #ffffff;
$sidebar_background_dark_mode: #0D1117;
$item_menu: #f0f8ff;
$text_dark_mode: #ffffff;
$text_light_mode: #0D1117;

// font 
$font-primary: 'Inter', sans-serif;


// shadow
$box_shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.10);

// system
$dark_mode: #0D1117;
$light_mode: #f1a10c;
